html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 1.33;
  color: #3a3a3a;
  background-color: white;
}

.text-center {
  text-align: center;
}

#flowrigami {
  width: 90vw;
  height: 80vh;
  margin: auto
}


.test-utilities {
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
}

.flex-row {
  display: flex;
  align-items: center;
}

.flex-row button {
  margin-right: 10px;
}

.flex-row button:last-child {
  margin-right: 0;
}


/* on-off toggle */
.onoffswitch {
  position: relative; width: 50px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  height: 20px; padding: 0; line-height: 20px;
  border: 2px solid #999999; border-radius: 20px;
  background-color: #DDDDDD;
  transition: background-color 0.15s ease-in;
}
.onoffswitch-label:before {
  content: "";
  display: block; width: 20px; margin: 0px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 28px;
  border: 2px solid #999999; border-radius: 20px;
  transition: all 0.15s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #56A4A7;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
  border-color: #56A4A7;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0;
}


/* collapse */
.collapse-wrapper {
  margin-top: 1rem;
}
.collapse-wrapper input[type="checkbox"] {
  display: none;
}
.collapse-wrapper .label-toggle {
  font-size: 16px;
  cursor: pointer;
  user-select: none;
}
.collapse-wrapper .label-toggle::before {
  /* triangle */
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid currentColor;
  content: '';
  display: inline-block;
  margin: 0 0.4em 0.1em 0;
  transform: translateY(-2px);
  transition: transform 0.15s ease;
  vertical-align: middle;
}
.collapse-wrapper .toggle:checked + .label-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}
.collapse-wrapper .collapse-content {
  overflow: hidden;
  margin-top: 0.5rem;
  max-height: 0;
  transition: max-height 0.15s ease;
}
.collapse-wrapper .toggle:checked + .label-toggle + .collapse-content {
  max-height: 280px;
}
.collapse-wrapper .collapse-inner {
  padding: 0.1rem 0.3rem;
}
